name: Update latest tag

on:
  push:
    branches:
      - main  # ali drug branch, Äe ni 'main'

jobs:
  tag-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Create or update 'latest' tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag -f latest
          git push origin --force latest
